/* p,div {
    font-family: 'MyFont';
    src: local('MyFont'), url(./fonts//NanumGothic-Bold.ttf) format('.ttf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
/* } */

div#stripes {
  
  background-image: linear-gradient(45deg, #f76b61 25%, transparent 25%, transparent 50%, #f76b61 50%, #f76b61 75%, transparent 75%, #fff);
  background-size: 10px 10px;
}

@font-face {
  font-family: "cairo";
  src: url("./fonts/Cairo/Cairo-VariableFont_wght.ttf");
}

html {
  font-family: "cairo";
}

.interval:hover {
  height: 0.75rem !important;
}
